.container-fill{
    padding-top: 60px;
    min-height: 500px;
}
.block-offset{
    margin-left:2%;
}
.custom-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }
.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
